.item1{
    display: inline-block;
    position: absolute;
    right:20px;
    margin: 5px;
}
body{
    margin: 0px;;
}
header{
    padding: 10px;
    position: fixed;
    width: 100%;
    top:0;
    background-color:white;
    font-size: 20px;
    
    
}
.container{
    width:100%;
    height:700px;
    border: 5px solid black;

}
img{
    width: 100%;
    height: 700px;

}
.item2{
    width:35px;
    height: 30px;
    background-color: black;
    position: absolute;
    color: white;
    margin: 100px;
    left:350px;
    top:100px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    
    
}
.item3{
    font-size: 40px;
    position: absolute;
    top:200px;
    right:740px;
}
h2{
    
    padding: 100px;
    position: relative;
    right: 100px;
    top:-70px;
}
.state{
    position:relative;
    top:-150px;

}
.container2{
    width:100%;
    height: 500px;
    display:inline-block;
    position:relative;

    scroll-behaviour:smooth;
    top:-110px;
}
.con1,.con2,.con3,.con4{
    width:200px;
    height: 200px;
    display: inline-block;
    margin:10px;
    padding:0px;
    position: relative;
    top: 0px;

    
}
.con5,.con6,.con7,.con8{
    width:200px;
    height: 200px;
    display:inline-block ;
    margin:10px;
    position:relative;
    padding:0px;
    top:0px;

}
.img-con{
    width:200px;
    height: 200px;
    position:absolute;
    bottom: 10;
}

p{
    
    position:absolute;
    top:0px;
    background-color: black;
    color: white;
    padding:0px;
    margin: 0px;
    left:0px;
}

